body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 50px;
    background-color: black;
}

header {
    /*background-color: #333;*/
    color: #fff;
    padding: 10px 20px;
    text-align: left;
}

p{
    color: white;
}
h2{
    float: left;
    
    color:white;
    font-size: 100px;
}
nav {
    
    color: #fff;
    padding: 10px 20px;
    text-align: right;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    position: sticky;
    margin-top: 100%;
}

.name{
    font-family: Fjalla One;
    font-size: 50px;
    font-weight: bolder;
}

nav a{
    border: 11px;
    margin: 0px;
    padding: 2px;
    text-decoration: none;
    border-style:solid;
    border-radius: 9px;
    
    border-color: #333;
    color: white;
    font-size: 13px;
    background-color: #333;
   
}

img{
    position: relative;
    float: right;
    size: 33px;
    size-adjust: 10;
    box-sizing: border-box;
    height: 700px;
    width: 600px;
    padding-left: 100;
    
    
}




div{
    
    background-color: black;
}
